@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}

body {
  font-family: Pretendard;
  color: #222222;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

header {
  border-bottom: 1px solid #e5e5e5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  padding: 8px 0;
}

.header-logo {
  width: 108px;
}

.header-container > div {
  display: flex;
}

.header-container > div > ul {
  display: flex;
  list-style: none;
  gap: 36px;
}

.header-container > div > ul > li {
  cursor: pointer;
  font-weight: 600;
}

.header-login {
  font-size: 16px;
  font-weight: 600;
  color: #737373;
}

.banner {
  background-image: url("./images/banner.PNG");
  height: 400px;
  background-size: cover;
}

.banner-container {
  background-color: aqua;
  height: 100%;
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-container > h3 {
  font-size: 32px;
  font-weight: 700;
}

.banner-container > h5 {
  margin-top: 16x;
  font-size: 18px;
}
